@import 'tailwindcss';


@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton-svelte';
@import '@skeletonlabs/skeleton/themes/hamlindigo';
/* @import './windfall.css'; */

@source "./app.html";

@import './prose.css';

@custom-variant dark {

	/* 1. Manual Dark Mode: Triggered by [data-mode="dark"] */
	&:where([data-mode='dark'], [data-mode='dark'] *) {
		@slot;
	}

	/* 2. System Mode: Triggered by [data-mode="system"] ONLY if OS is dark */
	@media (prefers-color-scheme: dark) {
		&:where([data-mode='system'], [data-mode='system'] *) {
			@slot;
		}
	}
}

@font-face {
	font-family: 'Orbitron';
	src: url('/fonts/orbitron-light-webfont.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Orbitron';
	src: url('/fonts/orbitron-medium-webfont.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Orbitron';
	src: url('/fonts/orbitron-bold-webfont.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@layer base {
	:root {
		--header-height: 96px;
	}
}

@theme {
	--font-accent: 'Orbitron';
}

@layer utilities {
	.refractive-bg {
		background-attachment: fixed;

		@variant dark {
			background-image: 
				/* Two radiuses, one offset to smoothen things */
				radial-gradient(circle 150vw at 4vw 80vh, color-mix(in oklab, var(--color-secondary-400) 3%, var(--color-secondary-400) 4%) 0px, transparent 40%),
				radial-gradient(circle 150vw at 96vw 80vh, color-mix(in oklab, var(--color-secondary-400) 3%, var(--color-secondary-400) 4%) 0px, transparent 40%) !important

		}
		background-image: 
			radial-gradient(circle 150vw at 4vw 80vh, color-mix(in oklab, var(--color-secondary-200) 3%, var(--color-secondary-200) 2%) 0px, transparent 40%), 
			radial-gradient(circle 150vw at 96vw 80vh, color-mix(in oklab, var(--color-secondary-200) 3%, var(--color-secondary-200) 2%) 0px, transparent 40%);
	}

}