@import 'tailwindcss';


@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton-svelte';
@import '@skeletonlabs/skeleton/themes/hamlindigo';
/* @import './windfall.css'; */

@source "./app.html";

@import './prose.css';

@custom-variant dark {

	/* 1. Manual Dark Mode: Triggered by [data-mode="dark"] */
	&:where([data-mode='dark'], [data-mode='dark'] *) {
		@slot;
	}

	/* 2. System Mode: Triggered by [data-mode="system"] ONLY if OS is dark */
	@media (prefers-color-scheme: dark) {
		&:where([data-mode='system'], [data-mode='system'] *) {
			@slot;
		}
	}
}

@font-face {
	font-family: 'Orbitron';
	src: url('/fonts/orbitron-light-webfont.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Orbitron';
	src: url('/fonts/orbitron-medium-webfont.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Orbitron';
	src: url('/fonts/orbitron-bold-webfont.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@layer base {
	:root {
		--header-height: 96px;
	}
}

@theme {
	--font-accent: 'Orbitron';
}

@layer utilities {
	.stripes {
		background: repeating-linear-gradient(-45deg,
				color-mix(in oklab, var(--color-surface-400) 0%, transparent),
				color-mix(in oklab, var(--color-surface-400) 0%, transparent) 5px,
				color-mix(in oklab, var(--color-surface-400) 25%, transparent) 10px,
				color-mix(in oklab, var(--color-surface-400) 40%, transparent) 30px);
	}


	.refractive-bg {
		@variant dark {
			background: 
				/* Two radiuses, one offset to smoothen things */
				radial-gradient(at 6% 30%, color-mix(in oklab, var(--color-secondary-400) 3%, var(--color-secondary-400) 2%) 0px, var(--color-surface-950) 40%), 
				radial-gradient(at 8% 6%,  color-mix(in oklab, var(--color-secondary-400) 3%, var(--color-secondary-400) 3%) 0px, var(--color-surface-950) 90%) !important; 
		}
		background: 
			radial-gradient(at 10% 30%, color-mix(in oklab, var(--color-secondary-200) 24%, var(--color-secondary-200) 0%) 0px, var(--color-surface-50) 40%), 
			radial-gradient(at 15% 6%,  color-mix(in oklab, var(--color-secondary-200) 24%, var(--color-secondary-200) 0%) 0px, var(--color-surface-50) 90%);
	}

}