@import 'tailwindcss';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton-svelte';
@import '@skeletonlabs/skeleton/themes/hamlindigo';
/* @import './windfall.css'; */

@import './prose.css';

@custom-variant dark (&:where([data-mode="dark"], [data-mode="dark"] *));

@font-face {
	font-family: 'Orbitron';
	src: url('/fonts/orbitron-light-webfont.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Orbitron';
	src: url('/fonts/orbitron-medium-webfont.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Orbitron';
	src: url('/fonts/orbitron-bold-webfont.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@layer base {
	:root {
		--header-height: 96px;
	}
}

@theme {
	--font-accent: 'Orbitron';
}

@layer utilities {
	.stripes {
		background: repeating-linear-gradient(
			-45deg,
			color-mix(in oklab, var(--color-primary-950) 0%, transparent),
			color-mix(in oklab, var(--color-primary-950) 0%, transparent) 10px,
			color-mix(in oklab, var(--color-primary-950) 15%, transparent) 20px,
			color-mix(in oklab, var(--color-primary-950) 20%, transparent) 30px
		);
		&:where([data-mode='dark'], [data-mode='dark'] *) {
			background: repeating-linear-gradient(
				-45deg,
				color-mix(in oklab, var(--color-primary-300) 0%, transparent),
				color-mix(in oklab, var(--color-primary-300) 0%, transparent) 10px,
				color-mix(in oklab, var(--color-primary-300) 10%, transparent) 20px,
				color-mix(in oklab, var(--color-primary-300) 20%, transparent) 30px
			);
		}
	}
}
